.itemContainer{
    display: flex;
    flex-direction: row;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: gray solid 1px;
}
.productImg {
    height: 200px
}